@mixin easeOut($speed) {
  transition: all $speed ease-out;
}

@mixin animatedInput($speed) {
  input {
    border: none !important;
    @include easeOut($speed);
    &.lightTheme {
      background-color: rgba(0, 0, 0, 0.1) !important;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
    &.darkTheme {
      background-color: rgba(255, 255, 255, 0.1) !important;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
  }
}
